.cardComponent{
    display: flex;
    padding: 10px;
    background-color: white;
}
.cardComponent:hover{
    box-shadow: rgb(188 188 188 / 50%) 0px 2px 9px 0px;
    border-radius: 16px;
}
.cardComponent>*{
    margin-right: 20px;
}
.storeImage img{
    width: 125px;
    height: 125px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 16px;
}
.storeDetails>*{
    margin-bottom: 10px;
}
.storeName{
    font-size: 20px;
    font-weight: 600;
    color: rgb(23, 30, 48);
    text-overflow: ellipsis;
    overflow: hidden;
}
.storeArea,.storeDistance{
    font-size: 16px;
    font-weight: 500;
    color:rgba(87,94,115,0.8) ;
    overflow: hidden;
    text-overflow: ellipsis;
}